.jumbotron{
    background-color:rgb(147, 105, 175);
    height: 200px;
}

.col-12{
    padding: 50px 0;
    color: whitesmoke; 
}

.oh{
    color: black;
    align-items: flex-start;
    position: relative;
    width: 50%;
}

.footer{
    background-color: rgb(180, 150, 201)};
}


